:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; 
*/

/*
Posicionamiento
box model
Tipografía
Estilos Visuales
Otros
*/

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__description {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--just-white);
}

.header__button {
  position: absolute;
  top: calc(100% - 24px);
  left: calc(50% - 114.5px);
  display: block;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  /* sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
}

.main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.exchange-container {
  width: 100%;
  min-height: 288px;
  height: auto;
  padding: 80px 0 30px 0;
  text-align: center;
}

.exchange-container__title {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.exchange-container__backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px;
  background: url("../assets/img/Bitcoin.svg") no-repeat center/cover;
}

.exchange-container__title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.exchange-container__title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}
table th,
table td {
  border: 0.5px solid rgb(184, 184, 184);
}

/* section: table */

.table__container {
  position: relative;
  width: 60%;
  min-width: 200px;
  max-width: 260px;
  margin: 55px auto 0;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
  border-radius: 8px;
}

.table__title {
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}

/* .table tr:not(:last-child) td {
  border-bottom: 0.1px grey solid;
}

.table td:not(:last-child) {
  border-right: 0.1px grey solid;
} */

.exchange__table-data {
  padding-left: 11px;
  width: 100vw;
  height: 39px;
  text-align: start;
}

.table-data__left {
  padding-right: 7px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  color: #757575;
}

.exchange__table-icon {
  display: inline-block;
  margin-left: 3px;
  width: 15px;
  height: 10px;
}

.icon--priceUp {
  background: url("../assets/icons/trending-up.svg") center/cover no-repeat;
}

.icon--priceDown {
  background: url("../assets/icons/trending-down.svg") center/cover no-repeat;
}

.exchange-container__date {
  margin: 20px auto 0;
  width: 173px;
  height: 31px;
  padding: 8px;
  font: 1.2rem "Inter", sans-serif;
  line-height: 15px;
  border-radius: 8px;
  color: var(--warm-black);
}

.background--color-coins {
  background-color: var(--soft-orange);
}

.background--color-comision {
  background-color: var(--soft-blue);
}

.--hide {
  display: none;
}

.table__container--Comisiones-title {
  color: var(--secondary-blue);
}

/* Section: product-detail */

.product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background: var(--black);
  color: var(--just-white);
}

.product-detail__batataLogo {
  position: absolute;
  top: calc(0% - 12.5px);
  left: calc(50% - 20px);
  width: 40px;
  height: 25px;
  background: url("../assets/icons/batata.svg");
}

.product-detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 50px auto 0;
  text-align: center;
}

.product-detail__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
}

.product-detail__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background: var(--warm-black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.card__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.card__icon--clock {
  background: url("../assets/icons/clock.svg") no-repeat center/cover;
}

.card__icon--eye {
  background: url("../assets/icons/eye.svg") no-repeat center/cover;
}

.card__icon--dollar {
  background: url("../assets/icons/dollar-sign.svg") no-repeat center/cover;
}

.card__icon--checkedCircle {
  background: url("../assets/icons/check-circle.svg") no-repeat center/cover;
}

.card__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.card__body {
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
